.parentheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.RightBtn {
  margin-left: 10px !important;
  padding: 4% !important;
}
.RightBtns {
  width: 37%;
}
.TableHeader {
  background-color: rgb(202, 202, 202);
}
.TableHeaderContent {
  text-align: center;
}
.dropDownWidth {
  width: 38% !important;
}
