.parentheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.RightBtn {
  margin-right: 10px !important;
}
.logoutbtn {
  margin-left: auto;
}
.TableHeader {
  background-color: rgb(202, 202, 202);
}
.TableHeaderContent {
  text-align: center;
}
