.Header {
  display: flex;
  align-items: center;
}
.left-btn {
  margin-left: 10px !important;
  margin-top: 5px !important;
}
.RightBtn {
  margin-left: auto !important;
}
.topseperator {
  margin-top: 20px;
}
.rightseperator {
  width: 50% !important;
}
.leftseperator {
  width: 50% !important;
}
